aaa_base
aaa_elflibs
aaa_terminfo
bash
bin
bzip2
coreutils
dcron
dhcpcd
dialog
diffutils
e2fsprogs
elvis
etc
eudev
findutils
gawk
glibc-solibs
gnupg
grep
gzip
iputils
logrotate
mpfr
net-tools
network-scripts
ncurses
openssh
openssl-solibs
pkgtools
procps-ng
sed
shadow
sharutils
slackpkg
sysklogd
sysvinit
sysvinit-functions
sysvinit-scripts
tar
util-linux
wget
which
xz
