aaa_base
aaa_elflibs
aaa_terminfo
etc
bash
bzip2
coreutils
dcron
file
findutils
glibc-solibs
glibc-zoneinfo
grep
gzip
logrotate
nano
procps-ng
sed
shadow
sysklogd
sysvinit
sysvinit-functions
sysvinit-scripts
tar
util-linux
xz
libaio
libtermcap
network-scripts
net-tools
